@use "./utils/normalize";
@use "./utils/reset";
@use "./utils/helpers";
@use "./blocks/mainContainer";
@use "./blocks/banner";
// @use "./blocks/tournament";
// @use "./blocks/trick";
// @use "./blocks/trickCard";
// @use "./blocks/how";
// @use "./blocks/howCard";
// @use "./blocks/btn";
// @use "./blocks/mechanic";
// @use "./blocks/table";
@use "./blocks/accordion"; 
// @use "./blocks/custom_paragraph";
// @use "./blocks/howWorks";
// @use "./blocks/appHowWorksCard";
// @use "./blocks/how_2";
// @use "./blocks/howCard_2";
// @use "./utils/anchorScrolling";
// @use "./blocks/levels";
@use "./blocks/promoVip";
// @use "./blocks/request";
// @use "./blocks/rewards";
@use "./blocks/feature-showcase";

