@use "sass:math";
@use "sass:string";

@mixin fluid-prop($prop, $min, $max, $minW: 360px, $maxW: 1920px) {
  $slope: math.div($max - $min, $maxW - $minW);

  $mid: string.unquote("calc(#{$min} + (var(--content-vw, 100vw) - #{$minW}) * #{$slope})");

  #{$prop}: clamp(#{$min}, #{$mid}, #{$max});
}

