@use "../utils/mixins" as mixin;

$prize-pool-accent: #fc5021;

.banner {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(#14141a 0%, #14141a 100%);
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    @include mixin.fluid-prop(width, 260px, 652px, 360px, 1920px);
    @include mixin.fluid-prop(padding-block, 32px, 74px, 1367px, 1920px);
    @include mixin.fluid-prop(padding-left, 30px, 50px, 1367px, 1920px);
    padding-right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--second {
      @include mixin.fluid-prop(padding-top, 32px, 50px, 1367px, 1920px);
      @include mixin.fluid-prop(padding-left, 32px, 50px, 1367px, 1920px);
      @include mixin.fluid-prop(padding-right, 16px, 190px, 1367px, 1920px);
    }
    &--third {
      top: 0;
      left: auto;
      right: 0;
      width: 50%;
      height: 100%;
      @include mixin.fluid-prop(padding-block, 75px, 180px, 1367px, 1920px);
      @include mixin.fluid-prop(padding-right, 141px, 395px, 1367px, 1920px);
      padding-left: 0;
      justify-content: center;
    }
  }

  &__customLogo {
    display: block;
    @include mixin.fluid-prop(width, 135px, 154px, 1367px, 1920px);
    height: auto;
    margin-bottom: 18px;
    @include mixin.fluid-prop(margin-bottom, 0px, 18px, 1367px, 1920px);
  }

  &__title {
    font-family: "Sofia Sans Extra Condensed", "Arial", sans-serif;
    font-size: 32px;
    display: -webkit-box;
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 12px;
    &--accent {
      color: #f5a623;
    }
    &--second {
      font-family: "Sofia Sans Condensed", sans-serif;
      @include mixin.fluid-prop(margin-bottom, 12px, 24px, 1367px, 1920px);
      letter-spacing: 1px;
    }
    &--third {
      font-family: "Sofia Sans Condensed", sans-serif;
      letter-spacing: 1px;
      // @include mixin.fluid-prop(margin-bottom, 10px, 24px, 576px, 1920px);
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-family: "Sofia Sans Condensed", "Arial", sans-serif;
    width: 100%;
    font-size: 18px;
    line-height: normal;
    display: -webkit-box;
    overflow-wrap: break-word;
    // color: #bfbfcb;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    &--second {
      margin-block: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      font-family: inherit;
      color: #ffffff;
      font-size: 16px;
      text-transform: none;
    }
    &--third {
      font-family: inherit;
      text-transform: none;
      color: #bfbfcb;
      &-accent {
        color: #ffffff;
        font-weight: 700;
      }
    }
    &--accent {
      font-family: "Sofia Sans Condensed", "Arial", sans-serif;
      color: #bfbfcb;
    }
    &--accentPool {
      position: relative;
      display: inline-block;
      margin-left: 4px;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -4px;
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 2px);
        z-index: -1;
        // margin-top: 4px;
        background: $prize-pool-accent;
        border-radius: 2px;
      }
    }
    &--accentPool-second {
      display: inline-block;
      margin-left: 4px;
      transform: rotate(-3.087deg);
      padding: 6px 16px;
      color: #ffffff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -4px;
        display: block;
        width: calc(100% + 8px);
        height: calc(100% + 2px);
        z-index: -1;
        // margin-top: 4px;
        background: $prize-pool-accent;
        border-radius: 100px;
      }
    }
  }

  &__list {
  }
  &__list li {
    font-size: clamp(15px, 0.824vw, 16px);
    // margin-bottom: 11px;
    @include mixin.fluid-prop(margin-bottom, 8px, 12px, 1367px, 1920px);
    line-height: 1.2;
    list-style: none;
    color: #bfbfcb;
    padding-left: 24px;
    position: relative;
  }
  &__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 1px;
    background: #e5ff3a;
    font-size: 10px;
  }
  &__list li:last-child {
    margin-bottom: 0;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 10px;
  }

  &__btnBlock {
    display: flex;
    align-items: center;
    @include mixin.fluid-prop(gap, 8px, 28px, 577px, 1920px);
    // gap: 28px;
    // @include mixin.fluid-prop(margin-top, 20px, 60px, 1367px, 1920px);
  }
  &__btnBlockIcons {
    display: flex;
    align-items: center;
  }
  &__btnIcon {
    @include mixin.fluid-prop(width, 32px, 50px, 577px, 1920px);
    aspect-ratio: 1 / 1;
  }
  &__btn {
    display: flex;
    max-width: 360px;
    @include mixin.fluid-prop(margin-top, 40px, 60px, 1367px, 1920px);
    width: 90%;
    height: 50px;
    font-size: 18px;
    // padding: 10px 16px;

    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #e5ff3a;
    background: #e5ff3a;
    text-transform: uppercase;
    text-decoration: none;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #2a2e0a;

    &:hover {
      border: 1px solid #d1ec26;
      background: #d1ec26;
    }
    &--second {
      @include mixin.fluid-prop(margin-top, 14px, 60px, 1367px, 1920px);
    }
    &--third {
      margin-top: 0;
      width: 100%;
    }
    &--withMobileIcons {
      width: calc(100% - 100px);
    }
  }
  &__pragmatic {
    position: absolute;
    top: 20px;
    right: 20px;
    @include mixin.fluid-prop(width, 104px, 134px, 1367px, 1920px);
  }
  &__img {
    &-football {
      position: absolute;
      bottom: 15%;
      right: 31%;
      @include mixin.fluid-prop(width, 120px, 189px, 1367px, 1920px);
      animation: football-move 4s ease-in-out infinite alternate;
    }
    &-basketball {
      position: absolute;
      top: 0;
      right: 28%;
      @include mixin.fluid-prop(width, 75px, 118px, 1367px, 1920px);
      animation: basketball-move 2s ease-in-out infinite alternate;
    }
    &-tenis {
      position: absolute;
      top: 6%;
      right: -3%;
      @include mixin.fluid-prop(width, 100px, 161px, 1367px, 1920px);
      animation: tenis-move 3.5s ease-in-out infinite alternate;
    }
  }
  &__svg {
    display: block;
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 1700px) {
  .banner {
    &__subtitle {
    }
  }
}

@media (max-width: 1500px) {
  .banner {
    &__subtitle {
    }
  }
}

@media (max-width: 1366px) {
  .banner {
    &__content {
      // width: 45%;
      &--second {
        @include mixin.fluid-prop(padding-block, 16px, 50px, 577px, 1366px);
        @include mixin.fluid-prop(padding-inline, 16px, 50px, 577px, 1366px);
      }
      &--third {
        width: 45%;
        @include mixin.fluid-prop(padding-block, 24px, 82px, 1024px, 1366px);
        @include mixin.fluid-prop(padding-right, 24px, 85px, 1024px, 1366px);
        // @include mixin.fluid-prop(width, 434px, 539px, 1024px, 1366px);
        // @include mixin.fluid-prop(padding-right, 8px, 20px, 577px, 1366px);
      }
    }
    &__list li {
      @include mixin.fluid-prop(margin-bottom, 8px, 12px, 1367px, 1920px);
      @include mixin.fluid-prop(font-size, 10px, 16px, 1024px, 1366px);
    }
    &__customLogo {
      @include mixin.fluid-prop(margin-bottom, 10px, 18px, 1024px, 1366px);
      @include mixin.fluid-prop(width, 120px, 154px, 1025px, 1366px);
    }
    &__title {
      &--second {
        @include mixin.fluid-prop(margin-bottom, 12px, 24px, 1024px, 1366px);
      }
    }
    &__subtitle {
      // width: 100%;
      &--third {
        // width: 75%;
      }
    }
    &__pragmatic {
      @include mixin.fluid-prop(width, 104px, 134px, 1024px, 1366px);
    }
    &__btn {
      @include mixin.fluid-prop(height, 40px, 50px, 577px, 1366px);
      @include mixin.fluid-prop(font-size, 16px, 18px, 1024px, 1366px);
      @include mixin.fluid-prop(margin-top, 16px, 60px, 1024px, 1366px);
      &--third {
        margin-top: 0;
      }
    }
    &__btnBlock {
      // @include mixin.fluid-prop(margin-top, 10px, 60px, 577px, 1366px);
    }
    &__img {
      &-football {
        position: absolute;
        bottom: 15%;
        right: 44%;
        @include mixin.fluid-prop(width, 120px, 180px, 1024px, 1366px);
      }
      &-basketball {
        position: absolute;
        top: 0;
        right: 40%;
        @include mixin.fluid-prop(width, 75px, 118px, 1024px, 1366px);
      }
      &-tenis {
        position: absolute;
        right: -5%;
        @include mixin.fluid-prop(width, 100px, 150px, 1024px, 1366px);
      }
    }
  }
}

@media (max-width: 1023px) {
  .banner {
    &__content {
      &--second {
        // justify-content: space-between;
      }
      &--third {
        width: 50%;
      }
    }

    &__list li {
      @include mixin.fluid-prop(font-size, 8px, 16px, 577px, 1023px);
    }

    &__customLogo {
      @include mixin.fluid-prop(margin-bottom, 0px, 18px, 577px, 1023px);
      @include mixin.fluid-prop(width, 106px, 154px, 577px, 1023px);
    }

    &__title {
      // @include mixin.fluid-prop(margin-bottom, 10px, 12px, 577px, 1023px);
      &--second {
        @include mixin.fluid-prop(margin-bottom, 12px, 24px, 577px, 1023px);
      }
    }

    &__subtitle {
    }

    &__img {
    }

    &__btn {
      // @include mixin.fluid-prop(width, 168px, 360px, 576px, 1920px);
      // @include mixin.fluid-prop(height, 36px, 50px, 576px, 1920px);
      // @include mixin.fluid-prop(font-size, 12px, 26px, 576px, 1920px);
      @include mixin.fluid-prop(font-size, 14px, 16px, 577px, 1024px);
      &--second {
        @include mixin.fluid-prop(margin-top, 16px, 32px, 577px, 1023px);
      }
    }
    &__img {
      &-football {
        position: absolute;
        bottom: 15%;
        right: 44%;
        @include mixin.fluid-prop(width, 100px, 170px, 577px, 1023px);
      }
      &-basketball {
        position: absolute;
        top: 0;
        @include mixin.fluid-prop(width, 65px, 110px, 577px, 1023px);
      }
      &-tenis {
        position: absolute;
        top: 6%;
        right: -5%;
        @include mixin.fluid-prop(width, 85px, 141px, 577px, 1023px);
      }
    }
  }
}

@media (max-width: 860px) {
  .banner {
    &__content {
    }
    &__customLogo {
    }
    &__title {
    }
    &__subtitle {
      &--third {
      }
      &--accentPool-second {
        @include mixin.fluid-prop(font-size, 12px, 18px, 577px, 1024px);
        @include mixin.fluid-prop(padding-inline, 2px, 16px, 577px, 1024px);
        @include mixin.fluid-prop(padding-block, 2px, 6px, 577px, 1024px);
      }
    }
    &__img {
    }
    &__pragmatic {
      @include mixin.fluid-prop(width, 80px, 104px, 577px, 860px);
    }
    &__btn {
    }
  }
}

@media (max-width: 576px) {
  .banner {
    &-br {
      display: none;
    }
    &__content {
      width: 100%;
      @include mixin.fluid-prop(padding-inline, 16px, 30px, 360px, 576px);
      padding-block: 32px;
      justify-content: start;
      &--second {
        padding-block: 32px;
      }
    }

    &__img {
      &-football {
        position: absolute;
        bottom: 2%;
        right: 75%;
        @include mixin.fluid-prop(width, 124px, 144px, 360px, 576px);
      }
      &-basketball {
        position: absolute;
        top: auto;
        bottom: 49%;
        right: 73%;
        @include mixin.fluid-prop(width, 77px, 90px, 360px, 576px);
      }
      &-tenis {
        position: absolute;
        top: 40%;
        right: -5%;
        @include mixin.fluid-prop(width, 106px, 136px, 360px, 576px);
      }
    }
    &__pragmatic {
      top: auto;
      bottom: 12px;
      right: 12px;
      width: 108px;
    }
    &__list {
      margin-top: 16px;
    }

    // &__items {
    //   margin-bottom: 16px;
    // }

    &__customLogo {
      @include mixin.fluid-prop(margin-bottom, 10px, 18px, 360px, 576px);
      width: 143px;
    }

    &__title {
      &--second {
        @include mixin.fluid-prop(margin-bottom, 10px, 12px, 360px, 1920px);
      }
    }

    &__subtitle {
      &--accent {
      }
      &--accentPool-second {
      }
      &--second {
        @include mixin.fluid-prop(margin-top, 10px, 30px, 360px, 576px);
        gap: 15px;
      }
    }

    &__list li {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__list li::before {
      top: 10px;
    }

    &__img {
    }
    &__btnBlock {
      gap: 20px;
      margin-top: 0;
      flex-direction: column;
    }
    &__btnBlockIcons {
      display: flex;
      align-items: center;
    }
    &__btnIcon {
      width: 50px;
    }
    &__btn {
      padding: 10px 16px;
      border-radius: 6px;
      margin: 0 auto;
      @include mixin.fluid-prop(margin-top, 32px, 40px, 360px, 576px);
      width: 100%;
      @include mixin.fluid-prop(height, 40px, 50px, 360px, 576px);
      @include mixin.fluid-prop(font-size, 14px, 18px, 360px, 576px);
      &--second {
        margin-top: 32px;
      }
      &--third {
        margin-top: 0;
      }
    }
    &--withMobileIcons {
      width: 100%;
    }
  }
}
