@use "../utils/mixins" as mixin;

.howWorks {
  &__title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__content {
    display: flex;
    @include mixin.fluid-prop(gap, 16px, 78px, 769px, 1023px);
  }
  &__cards {
    flex: 1 1 54%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__videoWrapper {
    flex: 1 1 46%;
    @include mixin.fluid-prop(margin-left, 0px, 70px, 769px, 1023px);
    position: relative;
  }

  &__videoContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    aspect-ratio: 532 / 417;
    max-width: 532px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      //   transform: translate(-50%, -50%);
      aspect-ratio: 532 / 417;
      max-width: 532px;
      background-image: image-set(
        url("/img/mobileDeviceWrapper_1x.webp") 1x,
        url("/img/mobileDeviceWrapper_2x.webp") 2x
      );
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      pointer-events: none;
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 1px -134px 57px -94px rgba(0, 0, 0, 0.75) inset;
      z-index: 4;
      aspect-ratio: 532/417;
      max-width: 532px;
    }
  }

  &__video {
    max-width: 500px;
    width: 100%;
        aspect-ratio: 323 / 193;
    @include mixin.fluid-prop(padding-left, 17px, 27px, 577px, 1920px);
    @include mixin.fluid-prop(padding-right, 13px, 24px, 577px, 1920px);
    position: relative;
  }
}

@media (max-width: 1023px) {
  .howWorks {
    &__title {
      @include mixin.fluid-prop(font-size, 32px, 40px, 360px, 1023px);
    }
  }
}

@media (max-width: 768px) {
  .howWorks {
    &__title {
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    &__content {
      flex-direction: column;
      @include mixin.fluid-prop(gap, 16px, 78px, 577px, 768px);
    }
    &__cards {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    &__videoWrapper {
      flex: 1 1 100%;
      margin: 0 auto;
      position: relative;
    }
  }
}
@media (max-width: 576px) {
  .howWorks {
    &__title {
      margin-bottom: 30px;
    }
    &__cards {
      flex: 1 1 100%;
    }
    &__videoWrapper {
      flex: 1 1 100%;
    }
  }
}
