@use "../utils/mixins" as mixin;

.container {
  padding-block: 32px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: auto;
}

.collection-list {
  &__link {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mixin.fluid-prop(font-size, 22px, 28px, 991px, 1920px);
    line-height: 34px;
    color: #9d9d9d;
    border-bottom: 1px solid #dcdcdc;
    &--active {
      color: #000;
    }
  }
  &__arrow-icon {
    width: 24px;
    height: 24px;
  }
}

.best-sellers {
  padding-inline: 64px;
  flex-basis: 50%;
  width: 100%;
  &__subtitle {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535353;
  }
  &__title {
    margin-bottom: 64px;
    @include mixin.fluid-prop(font-size, 28px, 38px, 991px, 1920px);
    line-height: 46px;
  }
}

.product-card {
  position: relative;
  padding: 0;
  width: 100%;
  height: auto;
  flex-basis: 50%;
  border-radius: 16px;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  &__main-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    color: inherit;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__top-elements {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 16px;
  }
  &__info {
    padding-inline: 32px;
    padding-block: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
  }
  &__tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 3;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 3;
  }
  &__tag {
    padding-inline: 16px;
    padding-block: 8px;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 8px;
    &--sale {
      color: #fff;
      background-color: #e41616;
    }
  }
  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #dcdcdc;
  }
  &__action-icon {
    width: 24px;
    height: 24px;
  }
  &__name {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    &-current {
      color: #e41616;
    }
    &-old {
      color: #9d9d9d;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }
  .best-sellers {
    padding-inline: 0;
    flex-basis: auto;
    &__title {
      margin-bottom: 24px;
      font-size: 28px;
      line-height: 34px;
    }
  }
  .collection-list__link {
    padding-inline: 0;
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }
  .product-card {
    padding: 0;
    &::before {
      padding-top: 100%;
    }
    &__wrapper {
      padding: 8px;
    }
    &__top-elements {
      top: 8px;
      left: 8px;
      right: 8px;
    }
    &__actions {
      flex-direction: column-reverse;
      gap: 4px;
    }
    &__info {
      padding-inline: 16px;
      padding-block: 12px;
      display: block;
    }
    &__name {
      margin-bottom: 8px;
    }
    &__action-btn {
      width: 40px;
      height: 40px;
    }
    &__action-icon {
      width: 16px;
      height: 16px;
    }
  }
}
