@use "../utils/mixins" as mixin;


body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  letter-spacing: 0%;
  overflow: hidden;
}

.mainContainer {
  margin-block: 64px;
  margin-inline: 64px;
  border-color: #ffffff;
}

@media (max-width: 576px) {
  .mainContainer {
    @include mixin.fluid-prop(margin-inline, 24px, 64px, 360px, 576px);
  }
}
