@use "../utils/mixins" as mixin;

.container {
  padding-block: 32px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 816px;
}

.collection-list {
  &__link {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    line-height: 34px;
    color: #9d9d9d;

    border-bottom: 1px solid #dcdcdc;
    &--active {
      color: #000000;
    }
  }
  &__arrow-icon {
    width: 24px;
    height: 24px;
  }
}

.best-sellers {
  padding-inline: 64px;
  flex-basis: 50%;
  width: 100%;
  &__subtitle {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535353;
  }
  &__title {
    margin-bottom: 64px;
    font-size: 38px;
    line-height: 46px;
  }
}

.product-card {
  position: relative;
  padding: 16px;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  border-radius: 16px;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__top-elements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__tag {
    padding-inline: 16px;
    padding-block: 8px;

    font-size: 14px;
    line-height: 18px;
    background-color: #ffffff;
    border-radius: 8px;
    &--sale {
      color: #ffffff;
      background-color: #e41616;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #dcdcdc;
  }
  &__action-icon {
    width: 24px;
    height: 24px;
  }
  &__info {
    padding-inline: 32px;
    padding-block: 24px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;
    border-radius: 16px;
  }
  &__name {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;

    &-current {
      color: #e41616;
    }
    &-old {
      color: #9d9d9d;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }
  .best-sellers {
    padding-inline: 0px;
    flex-basis: auto;
    &__title {
      margin-bottom: 24px;
      font-size: 28px;
      line-height: 34px;
    }
  }
  .collection-list__link {
    padding-inline: 0px;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  .product-card {
    padding: 8px;
    &__actions {
      flex-direction: column-reverse;
      gap: 4px;
    }
    &__info {
      padding-inline: 16px;
      padding-block: 12px;
      display: block;
    }
    &__name {
      margin-bottom: 8px;
    }
    &__action-btn {
      width: 40px;
      height: 40px;
    }
    &__action-icon {
    width: 16px;
    height: 16px;
  }
  }
}

// @include mixin.fluid-prop(top, -116px, -140px, 360px, 1920px);
