.quickview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.quickview-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрування */
  z-index: 1001; /* Поверх оверлея */
  max-width: 450px;
  width: 90%; /* Адаптивність для мобільних */
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 0;
    padding-right: 20px; /* Місце для хрестика */
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  &__close-icon {
    display: block;
  }
}
